.header-bg {
	width: 100%;
	height: 150px;
	position: absolute;
}

.header-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.name {
	color: white;
	font-size: 45px;
	font-family: 'Blippo', fantasy;
	margin-top: 100px;
}

.navibar {
	margin-top: 100px;
	height: 50px;
	width: 100%;
}

.navibar-title-col {
	display: flex;
    justify-content: center;
    align-items: center;
}

.navibar-title {
	color: white;
	margin: 0px;
	font-family: 'Blippo', fantasy;
}

.selected {
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
}